services:
  network-configuration:
    networks:
      - ecm-ms

  microservice-configuration:
    extends:
      service: network-configuration

  microservice-config-server-configuration:
    extends:
      service: microservice-configuration
    environment:
      SPRING_CONFIG_IMPORT: configserver:http://config-server:8071/

  microservice-discovery-server-configuration:
    extends:
      service: microservice-config-server-configuration
    environment:
      EUREKA_PATH: http://discovery-server:8070/eureka/
