global:
  host: "34.47.217.79"
  environment: production
  imagePullSecrets:
    - name: registry-cred

discovery:
  replicas: 1

  image:
    repository: "rupesh1997/discovery-server"
    tag: "1.0.0"
    pullPolicy: IfNotPresent

  service:
    port: 8070
    targetPort: 8070
    type: ClusterIP

  env:
    - name: SPRING_PROFILE_ACTIVE
      value: "production"

  serviceAccount:
    create: true
    automount: true
    name: "discovery-service-account"

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

gateway:
  replicas: 1

  image:
    repository: "rupesh1997/gateway-server"
    tag: "1.0.0"
    pullPolicy: IfNotPresent

  service:
    port: 8072
    targetPort: 8072
    type: ClusterIP

  env:
    - name: SPRING_PROFILE_ACTIVE
      value: "production"
    - name: ALLOWED_CORS_ORIGINS
      value: "http://34.47.217.79:8080"
    - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
      value: "http://discovery-server:8070/eureka/"

  serviceAccount:
    create: true
    automount: true
    name: "gateway-service-account"

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

product:
  replicas: 1

  image:
    repository: "rupesh1997/product-service"
    tag: "1.0.2"
    pullPolicy: IfNotPresent

  service:
    port: 8181
    targetPort: 8181
    type: ClusterIP

  env:
    - name: SPRING_PROFILE_ACTIVE
      value: "production"
    - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
      value: "http://discovery-server:8070/eureka/"

  serviceAccount:
    create: true
    automount: true
    name: "product-service-account"

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

order:
  replicas: 1

  image:
    repository: "rupesh1997/order-service"
    tag: "1.0.2"
    pullPolicy: IfNotPresent

  service:
    port: 8282
    targetPort: 8282
    type: ClusterIP

  env:
    - name: SPRING_PROFILE_ACTIVE
      value: "production"
    - name: PRODUCT_SERVICE_BASE_PATH
      value: "http://product-service:8181"
    - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
      value: "http://discovery-server:8070/eureka/"

  serviceAccount:
    create: true
    automount: true
    name: "order-service-account"

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

frontend:
  replicas: 1

  image:
    repository: "rupesh1997/ecm-frontend-svc"
    tag: "1.0.0"
    pullPolicy: IfNotPresent

  service:
    port: 8080
    targetPort: 80
    type: NodePort

  serviceAccount:
    create: true
    automount: true
    name: "frontend-service-account"

  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

# Ingress Configuration
ingress:
  enabled: false
  className: nginx

  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: "letsencrypt-prod"

  hosts:
    - host: "34.47.217.79"
      paths:
        - path: /
          pathType: Prefix
          service:
            name: frontend
            port: 80
        - path: /api
          pathType: Prefix
          service:
            name: backend
            port: 8181

  tls:
    - hosts:
        - "34.47.217.79"
      secretName: app-tls-secret
