apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-svc-deployment
  namespace: ecm
  labels:
    app: order-svc-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-svc-deployment
  template:
    metadata:
      labels:
        app: order-svc-deployment
    spec:
      containers:
        - name: order-svc-deployment
          image: "rupesh1997/order-service:1.0.2"
          imagePullPolicy: Always
          ports:
            - containerPort: 8282
          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  key: DEPLOYMENT_PROFILE
                  name: ecm-configs

            - name: PRODUCT_SERVICE_BASE_PATH
              valueFrom:
                configMapKeyRef:
                  key: PRODUCT_SERVICE_BASE_PATH
                  name: ecm-configs

            - name: EUREKA_PATH
              valueFrom:
                configMapKeyRef:
                  key: EUREKA_PATH
                  name: ecm-configs

            - name: SPRING_CONFIG_IMPORT
              valueFrom:
                configMapKeyRef:
                  key: SPRING_CONFIG_IMPORT
                  name: ecm-configs

          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
